In [6]:
import pandas as pd
import matplotlib.pyplot as plt

In [7]:
import sys
print("Python:", sys.executable)

import pandas as pd
import matplotlib.pyplot as plt
print("pandas:", pd.__version__)

Python: /home/joo/code/Market-Analyzer/venv/bin/python
pandas: 2.3.3

In [9]:
import ccxt
import pandas as pd
import matplotlib.pyplot as plt

# 업비트 연결 (읽기 전용)
exchange = ccxt.upbit()

# BTC/KRW 1분봉 최근 200개
ohlcv = exchange.fetch_ohlcv(
    symbol="BTC/KRW",
    timeframe="1m",
    limit=200
)

# DataFrame으로 변환
df = pd.DataFrame(
    ohlcv,
    columns=["ts", "open", "high", "low", "close", "volume"]
)

# 시간 컬럼 변환
df["datetime"] = pd.to_datetime(df["ts"], unit="ms")

df.head()

,ts,open,high,low,close,volume,datetime
0,1768165320000,133710000.0,133710000.0,133667000.0,133701000.0,0.075453,2026-01-11 21:02:00
1,1768165380000,133710000.0,133710000.0,133701000.0,133706000.0,0.079511,2026-01-11 21:03:00
2,1768165440000,133706000.0,133710000.0,133620000.0,133620000.0,0.192439,2026-01-11 21:04:00
3,1768165500000,133620000.0,133620000.0,133607000.0,133607000.0,0.040629,2026-01-11 21:05:00
4,1768165560000,133607000.0,133607000.0,133599000.0,133600000.0,0.154518,2026-01-11 21:06:00